
.addBateria{
    margin-left:10px;
    padding:15px 30px;
}
.linha{
    display:inline-flex;
    margin-left:110px;
}
.surfista{
    margin-left:30px;
    margin-right: 30px;
}
.surfista.numero{
    margin-left:1px;
}
input[type="number"].numero{
    width:30px
}
