.back{
    width:100%;
    background-color: rgb(189, 187, 187);
    min-height:100vh;
}
.tudo{
    width:960px;
    margin:auto;
    display:block;
    padding-right: 30px;
    padding-left: 30px;
    background-color:#5F9EA0;
    border-left-style:groove;
    border-right-style:groove;
    min-height:100vh;
}
.addBateria{
    margin-left:10px;
    padding:15px 30px;
}
.linha{
    display:grid;
    margin-top:30px;
    grid-template-columns: repeat(5,auto);
}
.surfista{
}
.bateria{
    padding:5px;
    background-color:#ECF0F2;
    border-style:solid;
    border-radius:5px;
    border-color:grey;
    border-width:2px;
}
.surfista{
    border-radius:5px;
    padding:5px;
    background-color:#ECF0F2;
    border-style:solid;
    margin-top:5px;
    border-color:grey;
    border-width:2px;
}
.titulo{
    width:950px;
    font-size:30px;
    border-bottom-style:solid;
    border-color:grey;
}
.tituloNome{
    margin-left:400px;
}
