<div class="bateria">
  <div class="linha">
    <div class="topo">Bateria {{bateria.id}}</div>
    <div class="topo"> Surfista {{bateria.surfista1.numero}}: {{bateria.surfista1.nome}}</div>
    <div class="topo"> Surfista {{bateria.surfista2.numero}}: {{bateria.surfista2.nome}}</div>
    <div class="topo vencedor">Vencedor: {{bateria.vencedor.nome}} Número: {{bateria.vencedor.numero}}</div>
  </div>
  
  <app-onda class="linha" *ngFor="let onda of bateria.ondas" (notaFinal)="notaFinal($event)" [onda]="onda"></app-onda>

  <div class="linha">
    <app-add-onda (addOnda)="addOnda($event)"></app-add-onda>

  </div>
  <input type="button" name="resultado" (click)="vencedor()" value="Resultado da bateria"/>
</div>
